<li class="list-group-item comment row", id = "comment_panel_<%= comment.id %>">
  <div class = "col-sm-12">
    <div class = "col-sm-10">
      <%= comment.comment %>
        <div class = "comment_details">
          <div class = "commenter_name">
            <%= find_commenter(comment).name %>
          </div>
          <div class = "comment_date">
            <%= time_ago_in_words(comment.created_at)  %> ago
          </div>
        </div>
    </div>
    <div class = "col-sm-2">
      <% if comment.commenter == current_user.id %>
        <%= link_to ("<div class = 'delete_button'> </div>").html_safe, [comment.task,comment], method: :delete, remote: true %>
      <% end %>
    </div>

  </div>
</li>
