<h4>Share Task</h4>
<hr />
<div id = "user_modal">
  <%= autocomplete_field_tag :search, params[:search], autocomplete_user_name_participants_path, {class: "search-query", id: "tag_box", placeholder: "Type user's name"} %>
  <b>Shared with:</b><br />
  <input type="text" id = "tags">
  <div class = "share_links">
    <%= form_tag @participant do |f| %>
      <%= hidden_field_tag :task_id, @task.id.to_i %>
      <%= hidden_field_tag :user_list %>
      <%= button_tag :Save, {class: 'share_link save pull-left'}%>
    <% end %>
    <%#= link_to_modal ("<div class = 'share_link save pull-left'>Save</div>").html_safe, add_participants_task_path(@task.id), data:{remote: true} %>
    <%= link_to ("<div class = 'delete_confirmation_cancel_button pull-left'><u>Cancel</u></div>").html_safe, task_path(@task.id),:rel => "modal:close" %>
  </div>
</div>

<script>

var elt = $('#tags');
var task_id = '<%= @task.id %>'
//elt.prop('disabled', true);
elt.tagsinput({
  tagClass: 'label label-primary',
  itemValue: 'value',
  itemText: 'text'
});

$( document ).ready(function() {
  <% @participants.each do |participant| %>
    <% if participant.status == 'pending' %>
      elt.tagsinput('add', { "value": '<%= participant.user_id %>' , "text": '<%= participant.user.name %>'+'(request sent)' });
    <% else %>
      elt.tagsinput('add', { "value": '<%= participant.user_id %>' , "text": '<%= participant.user.name %>' });
    <% end %>
  <% end %>

  $('.search-query').bind('railsAutocomplete.select', function(event, data ){
    if (data.item.id){
      elt.tagsinput('add', { "value": data.item.id , "text": data.item.value });
      $(this).val('');
    }else{
      $(this).val('');
    }
});
});
var $elt = elt.tagsinput('input');
var current_user_id = "<%= current_user.id %>"
elt.on('beforeItemAdd', function(event) {
  var exist_val = $('#user_list').val();
  var push_val = event.item.value
    if (exist_val){
     $('#user_list').val(exist_val+','+push_val);
    }else{
     $('#user_list').val(push_val);
    }

});
elt.on('beforeItemRemove', function(event) {
  // event.item: contains the item
  // event.cancel: set to true to prevent the item getting removed
  if (event.item.value == current_user_id){
    event.cancel = true
  }else{
    var exist_val = $('#user_list').val();
    if (exist_val.indexOf(event.item.value) >= 0){
      var pop_val = exist_val.replace(event.item.value,'0')
      if (exist_val){
       $('#user_list').val(pop_val);
      }else{
       $('#user_list').val(pop_val);
      }
    }else{
      $.ajax({
        url: '/tasks/remove_share',
        method: "POST",
        dataType: "JSON",
        data: {user_id:event.item.value, task_id:task_id}
        }).success(function() {
          console.log("Success")
      });
    }
  }


});
</script>
