<h4>Add friends to the Task</h4>
<hr />
<%= form_tag @participant do %>
  <% @users.each do |user| %>
    <div id="participant_list_<%= user.id %>">
      <% unless user.tasks.include? @task %>
        <%= check_box_tag 'check_user[]',user.id %>
        <%= h user.name %>
        <%= hidden_field_tag :task_id, @task.id.to_i %>
      <% end %>
    </div>
  <% end %>
  <%= button_tag :Save, {class: "share_link button pull-right", value: "Sent Request"}%>
<% end %>


    <!-- link for Modal close button -->
<%#= link_to ("<div class = 'share_link cancel'>Cancel</div>").html_safe, users_path, :rel => "modal:close" %>
