
    <%= form_for @task, remote:true do |f| %>
      <div class = 'input-group task'>
        <span class="input-group-addon">
          <span class = "task_add_btn"></span>
        </span>
        <%= f.text_field :title, class:'new_task', autofocus:true, placeholder:"Add your TODO entry, Hit Enter to post", autocomplete: :off %>
    </div>
        <% f.submit :submit %>
    <% end %>
<div id="indextab">
  <ul class="nav nav-tabs nav-justified">
    <li><%= link_to "Active Tasks", active_tasks_path, :remote => true, :data => {:toggle=>"tab"} %></li>
    <li><%= link_to "Completed Tasks", completed_tasks_path, :remote => true, :data => {:toggle=>"tab"} %></li>
    <li><%= link_to "Task Requests", requests_tasks_path, :remote => true, :data => {:toggle=>"tab"} %></li>
  </ul>
</div>
<!-- This div is used for rendering results when clicking above tabs -->
  <div id="show_tabs" class = "span9">
    <div class="tab-pane active" id="tasks_lists">
      <% if @tasks.count > 0 %>
        <%= render @tasks %>
      <% else %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Sorry!</strong> You dont have any tasks assigned.
        </div>
      <% end %>
    </div>

  </div>
<%= will_paginate @tasks %>
