<div class="panel panel-default row">
  <div class="panel-body">
    <div class="col-sm-8">
      <div class = "col-sm-12">
        <div class= "task_title">
          <%= @task.title %>
        </div>
      </div>
      <div class = "col-sm-12">
        <div class = "task_author">
          Created by <b><%= link_to @creator.name, user_path(@creator.id) %></b>
        </div>
        <div class= "task_date">
          <%= time_ago_in_words(@task.created_at) %>
        </div>
      </div>
    </div>
    <div class = "col-sm-12 task_completion_slider_box">
      <!-- Overall task percentage -->
      <% if @task.user_id == current_user.id %>
          <div class = "col-sm-12 overall_progress">
            <div class = "slider_header">
              Overall Task Completion
            </div>
            <div class = "col-sm-10">
              <div id = "total_progress", class="progress">
                <div class="progress-bar progress-bar-info" style="width: <%= @total_completion %>%;"></div>
                <span id="total_completion_perc"><%= @total_completion.to_i %>%</span>
              </div>
            </div>
            <div class ='col-sm-2'>
                  <% if @task.completed == false %>
                    <%= link_to ("<div class = 'task_menu_btn comp_button'> </div>").html_safe, controller: "tasks", action: "task_completion", id: @task.id  %>
                  <% else %>
                    <%= link_to ("<div class = 'task_menu_btn comp_button completed'> </div>").html_safe, controller: "tasks", action: "task_completion", id: @task.id  %>
                  <% end %>
            </div>
          </div>
      <% end %>
      <!---------------------------------------->
      <div class = "col-sm-10">
        <div class = "slider_header">
          Task Completion
        </div>
        <div id="slider_group">
					<div id="slider"></div>
					<span id="completion_perc"><%= @participant.progression.to_i %>%</span>
				</div>
      </div>

    </div>
    <div class = 'col-sm-12'>
      <%#= link_to ("<div class = 'share_link'>Share</div>").html_safe, controller: "tasks", action: "add_participants", id: @task.id , remote: true %>
      <div id = "users_list">
        <!-- for listing users -->

        <% unless (@participants.count == @users.count)||(@task.user_id!= current_user.id) %>
          <%= link_to_modal ("<div class = 'share_link'>Share</div>").html_safe, add_participants_task_path(@task.id), data:{remote: true} %>
        <% end %>
      </div>

    </div>
    <div class = "col-sm-12 shared_people">
        <strong>Shared With :</strong>
        <% @task.participants.each do |participant| %>
          <% if participant.status == 'confirmed' %>
            <%= link_to participant.user.name, user_path(participant.user) %>,
          <% end %>
        <% end %>

    </div>
  </div>
</div>




<div class = 'comments_panel'>
  <ul class="list-group", id="comments_listing">
    <%= render @task.comments.reverse %>
  </ul>
  <%= render 'comments/form' %>
</div>
<span id= "task_id", display:none>
  <%= @task_id %>
</span>
</form>


<script>
var $slider = $("#slider");
var Count=0;
  $slider.slider({
    min: 0,
    max: 100,
    value: 0,
    orientation: "horizontal",
    range:'min',
    animate: "fast",
    value: '<%= @participant.progression.to_i %>',
    change: function( event, ui ) {
    var progress=$(this).slider("value");
    var id = '<%=@task.id%>'
    $("#completion_perc").html(progress+"%");
    Count++;
    setTimeout(function(){
      Count--;
      if(Count<=0) {
        $.ajax({
        url: '/participants/set_progression',
        type: "POST",
        dataType: "JSON",
        data: {id:id ,progress:progress }
        });
      }
    }, 500);

    }

  });
if (<%= @task.completed == true %>) {
  $('#slider').slider({ disabled: true });
}

</script>
