<div class="panel panel-default row">
  <div class="panel-body">
    <div class="col-sm-8">
      <div class = "col-sm-12">
        <div class= "task_title">
          <%= link_extract(@task.title).html_safe %>
        </div>

      </div>
      <div class = "col-sm-12">
        <div class = "task_author">
          Created by <b><%= link_to creator(@task).name, user_path(creator(@task).id) %></b>
          <span>
            <% if creator(@task) == current_user %>
              (You)
            <% end %>
          </span>
        </div>
        <div class= "task_date">
          <%= time_ago_in_words(@task.created_at) %>
        </div>
      </div>
    </div>
    <% if @task.user_id == current_user.id %>
        <div class = "col-sm-4">
          <div class = "task_delete_link">
            <%= link_to ("<div class = 'delete_button'> </div>").html_safe, task_path(@task.id), method: :delete %>
          </div>
          <div class= "task_edit_link">
            <%#= link_to ("<div class = 'share_link'>Edit</div>").html_safe, edit_task_path(@task.id)%>
            <%= link_to_modal  '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_task_path(@task) %>
          </div>
        </div>
    <% end %>
    <div class = "col-sm-12 task_completion_slider_box">
      <!-- Overall task percentage -->
      <% if @task.user_id == current_user.id %>
          <div class = "col-sm-12 overall_progress">
            <div class = "slider_header">
              Overall Task Completion
            </div>
            <div class = "col-sm-10">
                <span id="total_completion_perc"><%= total_completion(@task) %>%</span>
                <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= total_completion(@task) %>%"></div>
              </div>
            </div>
            <div class ='col-sm-2'>
                  <% if @task.completed == false %>
                    <%= link_to ("<div class = 'task_menu_btn comp_button'> </div>").html_safe, task_completion_task_path(id:@task.id, status:true) %>
                  <% else %>
                    <%= link_to ("<div class = 'task_menu_btn comp_button completed'> </div>").html_safe, task_completion_task_path(@task.id, status:false) %>
                  <% end %>
            </div>
          </div>
      <% end %>
      <!---------------------------------------->
      <div class = "col-sm-10">
        <div class = "slider_header">
          Task Completion
        </div>
        <div id="slider_group">
					<div id="slider"></div>
					<span id="completion_perc"><%= @participant.progression.to_i %>%</span>
				</div>
      </div>

    </div>
    <div class = 'col-sm-12'>
      <%#= link_to ("<div class = 'share_link'>Share</div>").html_safe, controller: "tasks", action: "add_participants", id: @task.id , remote: true %>
      <div id = "users_list">
        <!-- for listing users -->

        <% unless (@task.participants.count == @users.count)||(@task.user_id!= current_user.id) %>
          <%= link_to_modal ("<div class = 'share_link'>Share</div>").html_safe, add_participants_task_path(@task.id), data:{remote: true} %>
        <% end %>
      </div>

    </div>
    <div class = "col-sm-12 shared_people">
        <strong>Shared With :</strong>
        <% @task.participants.each do |participant| %>
          <% if participant.status == 'confirmed' %>
            <%= link_to participant.user.name, user_path(participant.user) %><% unless participant == @task.participants.last %> , <% end %>
          <% end %>
        <% end %>

    </div>
    <div class = "col-sm-12 task_desc">
      <span class = "task_desc_head"> Description: </span><%= link_extract(@task.description).html_safe if @task.description.present?%>
    </div>
  </div>
</div>




<div class = 'comments_panel'>
  <ul class="list-group", id="comments_listing">
    <%= render @comments %>
  </ul>
  <%= will_paginate @comments %>
  <%= render 'comments/form' %>
</div>
<span id= "task_id", display:none>
  <%= @task_id %>
</span>
</form>


<script>
var $slider = $("#slider");
var Count=0;
  $slider.slider({
    min: 0,
    max: 100,
    value: 0,
    orientation: "horizontal",
    range:'min',
    animate: "fast",
    value: '<%= @participant.progression.to_i %>',
    change: function( event, ui ) {
    var progress=$(this).slider("value");
    var id = '<%=@task.id%>'
    $("#completion_perc").html(progress+"%");
    Count++;
    setTimeout(function(){
      Count--;
      if(Count<=0) {
        $.ajax({
        url: '/participants/set_progression',
        type: "POST",
        dataType: "JSON",
        data: {id:id ,progress:progress }
        });
      }
    }, 500);

    }

  });
if (<%= @task.completed == true %>) {
  $('#slider').slider({ disabled: true });
}

</script>
