<div class="panel panel-default row">
  <div class="panel-body">
    <div class="col-sm-8">
      <div class = "col-sm-12">
        <div class= "task_title">
          <%= @task.title %>
        </div>
      </div>
      <div class = "col-sm-12">
        <div class= "task_date">
          <%= time_ago_in_words(@task.created_at) %>
        </div>
      </div>
    </div>
    <div class = "col-sm-12 task_completion_slider_box">
      <div class = "slider_header">
        Task Completion
      </div>
      <div id = 'slider', class='ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all col-sm-10', aria-disabled = 'false'></div>
      <div class = 'col-sm-2'>
        <% if @task.completed == false %>
          <%= link_to ("<div class = 'task_menu_btn comp_button'> </div>").html_safe, controller: "tasks", action: "task_completion", id: @task.id  %>
        <% else %>
          <%= link_to ("<div class = 'task_menu_btn comp_button completed'> </div>").html_safe, controller: "tasks", action: "task_completion", id: @task.id  %>
        <% end %>
      </div>
    </div>
    <div class = 'col-sm-12'>
      <%#= link_to ("<div class = 'share_link'>Share</div>").html_safe, controller: "tasks", action: "add_participants", id: @task.id , remote: true %>
      <div id = "users_list">
        <!-- for listing users -->
        <%= link_to_modal ("<div class = 'share_link'>Share</div>").html_safe, add_participants_task_path(@task.id), data:{remote: true} %>
      </div>

    </div>
    <div class = "col-sm-12 shared_people">
        <strong>Shared With :</strong>
        <% @task.participants.each do |participant| %>
          <%= link_to participant.user.name, user_path(participant.user) %>,
        <% end %>

    </div>
  </div>
</div>


<div class = 'comments_panel'>
  <ul class="list-group">
    <%= render @task.comments.reverse %>
  </ul>
  <%= render 'comments/form' %>
</div>
