<h1><%= current_user.name %></h1>
<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for current_user.tasks.build do |f| %>
      <div class = 'input-group'>
        <span class="input-group-addon">
          <span class = "task_add_btn"></span>
        </span>
        <%= f.text_field :title, class:'new_task', autofocus:true, placeholder:"Add your TODO entry, Hit Enter to post", autocomplete: :off %>
      </div>
        <% f.submit :submit %>
    <% end %>
  </div>
</div>
<% if current_user.tasks.count > 0 %>
  <% current_user.tasks.each do |task| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= task.inspect%>
    </div>
  </div>
  <% end %>
<% end %>
<%= link_to "Signout" ,destroy_user_session_path, method: :delete %>
