<div class = "jumbotron">
  <div class = "row">
    <div class = "col-sm-12">
      <div class = "col-sm-6">
        <%= image_tag @user.avatar.url(:medium), class: "img-circle" %>
      </div>
      <div class = "col-sm-6">
        <div class = "col-sm-12 user_show_name text-uppercase">
          <%= @user.name %>
        </div>
        <div class ="col-sm-12 user_show_details">
          <span class = "label label-success"><u><%= @tasks.count%></u> Own Tasks</span>
          <span class = "label label-warning"><u><%= @user.tasks.count %></u> Working Tasks</span>
        </div>
        <div class = "col-sm-12 user_show_description">
          <%= @user.about %>
        </div>
      </div>
    </div>
    <div class = "col-sm-12 ">
      <div class = "edit_profile_link">
        <%= link_to_modal ("<div class = 'share_link'>Edit Profile</div>").html_safe, edit_user_path(@user.id), data:{remote: true} %>
      </div>
    </div>
  </div>
</div>
