<!DOCTYPE html>
<html>
<head>
  <title>ToDoHub</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body>

  <div class = "container">
    <div class="row">
      <div class = "col-sm-12">
        <%= link_to ('<div class = "logo"></div>').html_safe, tasks_path %>
      </div>
    </div>
    <% if current_user %>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Check", root_path , class:"navbar-brand" %>
      </div>
    <ul class="nav navbar-nav navbar-right">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><%= current_user.name %></button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header"><%= link_to current_user.email, user_path(current_user) %></li>
                  <li><%= link_to "Users List", users_path%></li>
                  <li><%= link_to "Tasks List", tasks_path%></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Account</li>
                  <li><%= link_to "Logout", destroy_user_session_path , method: :delete %></li>
                </ul>
              </div>
      <li>

      </li>
    </ul>
    </div>
  </nav>
  <% end %>
  <% flash.each do |name, msg| %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong></strong> <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
  <% end %>
    <%= yield %>
  </div>

  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
  </script>
</body>
</html>
