<!DOCTYPE html>
<html>
<head>
  <title>ToDoHub</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body>

  <div class = "container">
    <div class="row">
      <div class = "col-sm-12">
        <%= link_to ('<div class = "logo"></div>').html_safe, root_path %>
      </div>
    </div>

    <%= yield %>
  </div>

  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
  </script>
</body>
</html>
